<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Xo-Toe Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
    </header>

    <section>
        <div class="game-rule" th:text="${gameRule}"></div>
    </section>

    <section class="game-info">
        <div class="change-size">
            <button th:onclick="'changeSize()'"></button>
            <p>Change Board</p>
        </div>
        <div id="game-status" class="status-banner">Next turn: X</div>
        <div class="reset-button">
            <button th:onclick="'resetBoard()'"></button>
            <p>Reset Board</p>
        </div>

    </section>
    <section class="game-content">
        <div id="board">
            <div th:each="row, pos : ${board}" th:class="${#strings.concat('row row-', pos.index)}">
                <div th:each="cell, pos2 : ${row}" th:class="${#strings.concat('cell cell-', pos2.index)}">
                    <button th:if="${cell == ' '}" th:onclick="'makeMove(' + ${pos.index} + ',' + ${pos2.index} + ')'"
                            th:text="' '"></button>
                    <span id="cell-value" th:if="${cell != ' '}" th:text="${cell}"></span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Gibran Lubis</p>
    </footer>

    <script th:src="@{/js/xotoe.js}"></script>
</body>

</html>